
/*=============================================
=            Global Variables            =
=============================================*/

$dark:#808080;
$head-txt: #cfcfcf;
$color-border:#ccc;
$color-w: #fff;
$color-g: #6cb205;